* {
    font-family: monospace;
    background-color: rgb(67, 218, 67);
}

#para1 {
	text-align: left;
	color: blue;
}
p {
	color: red;
	text-align: center;
}
.ejemplo1 {
    color:#000000;
    text-align: right;
}
.fondo {
    background-color: darkseagreen;
}
h2.ejemplo1 {
    font-size: xx-large;
}
span, ul, ol, li {
    background-color: green;
}